<!-- <h1 style="position: absolute; top: 10%; left: 17%">Edit Gift Request</h1> -->
<% content_for :title, "Edit Gift Request" %>

<%= render 'subnav' %>

    <script type="text/javascript">
    var node = document.getElementById("subnav").getElementsByTagName("li")[4];
	node.setAttribute("class", "active padd");
    </script>
 <div style="margin-left: 10%">
<%= link_to 'Back', gift_requests_path, :class => "btn inline btn-default"  %>
<%= link_to "Show Request", @gift_request, :class => "btn inline btn-default", :method => :get %>
<br><br>
<h3 class="inline" style="margin-left: 2%"> Edit Gift Request</h3>
 <input id="id_token" type="hidden" value="<%= @gift_request.id %>" />

</div>
<br />
<%= render 'formedit' %>


<br /><br />