<style>
.inline
{
  display:inline;
}
.scroll
{
  width:400px;
  height:80px;
  overflow:auto;
  word-wrap:break-word;
}
.btn-danger{
  color:#000;
}
</style>

<% content_for :title, "Gift Requests" %>

<%= render 'subnav' %>
<script type="text/javascript">
var node = document.getElementById("subnav").getElementsByTagName("li")[1];
node.setAttribute("class", "active padd");
</script>

<div class="container cc">
<div align = "center">
    <div class="inline">
    <p id="notice" style="color:red"><%= notice %></p>
    </div>
</div>

  <a href="?filter=top">Top</a>
  <a href="?filter=popular">Popular</a>
  <div align="center">
   <p class="inline" style="font-style:italic;"><strong>Total Questions: <%=  GiftRequest.count %></strong></p>
   <br>
   <%= paginate @gift_requests %>
  </div>

  <br>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <table class="table  table-bordered table-condensed" style="width:100%; margin-left:10%;background-color:#ffffff">
     <% @gift_requests.each do |gift_request| %>
     <tr>
      <td >
        <div class="inline col-xs-4 col-md-2" style="background: #8EEBEC" align="center"><br>Comments<br><strong ><%= gift_request.comments.count %></strong><br><br>Likes<br><strong><%= @gift_request.like_count %> </strong>
          <br><br>
        </div>
        <div class="inline container col-xs-12 col-md-8"  data-id=title<%= gift_request.id %> >
          <h4 class="inline">
            <%= button_to [gift_request.title], gift_request, :class => "btn ", :method => :get %></h4>

            <% @flag = false %>
            <% @gf = GiftRequest.find(gift_request.id) %>
            <% @gf.comments.each do |comment| %>
            <% if comment.final_answer == true %>
            <% @flag = true %>
            <% end %>
            <% end %>

            <% if @flag == true %>
            <h5 class="">
              <span class="label label-success inline">FINAL ANSWER
              </span></h5>          
              <% end %>

              <div class=" scroll" ><%= gift_request.description %> 
              </div>
              <br>
              <% if gift_request.tags %>
              <% gift_request.tags.each do |tags| %>
              <a class="btn btn-default" href="/tags/<%= tags.id %>"><%= tags.name %></a>
              <% end %>
              <% end %>
              <br>
              <div align="right">Asked <%= gift_request.created_at.strftime("%b %d, %Y %H:%M") %>
              </div><br>

              <div align="center" > 
                <% if current_user.id == gift_request.user.id %>
                <h5 class="inline"><%= link_to '', edit_gift_request_path(gift_request), :class => "btn btn-warning glyphicon glyphicon-pencil inline", :method => :get  %></h5>
                <h5 class="inline"> <%= link_to '', gift_request, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger glyphicon glyphicon-remove inline" %>  
               
                <% end %>
                <br><br>

              </div>
            </div>
            <div class="inline-block col-xs-4 col-md-2" style="background: #8EEBEC" align="center"><br>Views<br><strong ><%= gift_request.views %></strong><br><br><div class="inline"><a href="/users/<%= gift_request.user.id %>"><%= gift_request.username %></a><br><%= gift_request.user.rank %>  <%= gift_request.user.points %> </div>
            <br><br>

          </div>
          <div align="right">
            <% if gift_request.comments.last %>
            <strong> last answered by <%= gift_request.comments.last.username %> </strong>
            <% end %>
          </div>

          <br>
        </td>

      </tr>

      <% end %>

    </table>
  </div>
</div> 