<style type="text/css">
.inline
{
  display: inline
}

/*
@media {
  html {
    overflow: -moz-scrollbars-vertical; 
    overflow-x: scroll; 
    overflow-y: scroll;
  }
}

.btn{
	color: #ffffff;
   background-color: #2C3539;
}

.container {
    width:1024px;
    display: block;
}
*/
</style>
<% content_for :title, "New Gift Request" %>

<%= render 'subnav' %>

    <script type="text/javascript">
    var node = document.getElementById("subnav").getElementsByTagName("li")[4];
	node.setAttribute("class", "active padd");
    </script>
 <div style="" align="center">
<h3 class="inline" style="font-family:Times New Roman"> New Gift Request</h3>
</div>
<br />
<%= render 'form' %>

<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <div class="modal-body">

            <br>
            <br>

            <h4 style="color:black; text-transform: none;" align="center">
              Enter Account Information
            </h4>
          
            <%= form_for(:user, :url => registration_path(:user)) do |f| %>  

            <div class="container-fluid form-group" style="width:400px;" align="center">
                <%= f.text_field :username, autofocus: true, class: "form-control", :required => "true",:placeholder => "Username" %> 
                <br>
                <%= f.email_field :email, autofocus: true, class: "form-control", :required => "true",:placeholder => "Email Address" %>
                <br>
                <%= f.password_field :password, autocomplete: "off" , :required => "true" , :placeholder => "Password", class: "form-control" %>
                <br>
                <%= f.password_field :password_confirmation , autocomplete: "off" , :required => "true" , :placeholder => "Confirm Password", class: "form-control" %>
            </div>

            <br>

            <div class="container-fluid" align ="center">
            <%= f.submit "Sign Up", :class => "btn  btn-default", :style => "height: 28px; font-size: 12px;line-height: 12px; margin-left:20px;"%>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="height: 28px; font-size: 12px; margin-left:20px; line-height: 12px;">Cancel</button>
            <% end %>
            </div>
            
            <br>
            <br>

            <div class="container-fluid" align ="center">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-dismiss="modal" data-target="#up" style="height: 28px; font-size: 12px; margin-left:20px;line-height: 12px; align:center">Didn't receive confirmation Email?</button>
            </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
