<div>
		<div class="inline">
		<p id="notice" style="color:red"><%= notice %></p>
		</div>
</div>
<div style="display:inline"> 

<div style="text-align: center;">
		<div style="width: 500px; margin: 0 auto;" class="inline">
			<h2 > Gift Request ID <%= @gift_request.id %> <h2>
		<h5 class="inline"> Created By: <%= @gift_request.username %> </h5><br/> 
		</div>	
</div>
<br/>
<div style="width: 1000px; margin: 0 auto;">
	<h5 class="inline"> Description:  <%= @gift_request.description %> </h5>
<br />
<br />
	<form action="/likes/create" method="post" class="inline">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	    <input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
	    <input type="hidden" name="like[gift_request_id]" value="<%= @gift_request.id %>" />
	    <input type="hidden" name="like[status]" value="like" />
	    <button type="submit" class="btn"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"20",   height:"20" %></button>
	</form>
	<form action="/likes/create" method="post" class="inline">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	    <input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
	    <input type="hidden" name="like[gift_request_id]" value="<%= @gift_request.id %>" />
	    <input type="hidden" name="like[status]" value="dislike" />
	    <button type="submit" class="btn"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"20",   height:"20" %></button>
	</form>
<br /><br />
<!-- 
<b> Likes/Dislikes </b>
	<br/>
 <%= @gift_request.like_count %> people like this | <%= @gift_request.dislike_count %> people dislike this  -->

 <button type="submit" class="btn btn-success btn-xs" data-toggle="modal" data-target="#likemodal" > <%= @gift_request.like_count %> People Liked</button>
 <button type="submit" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#dislikemodal" > <%= @gift_request.dislike_count %> People disliked</button>
<!-- Like Modal -->
<div class="modal fade" id="likemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">People who liked this </h4>
      </div>
      <div class="modal-body">
		<% if @gift_request_likes %>
			<% @gift_request_likes.each do |like| %>
				<p> <%= like.username %> <%= like.status %>'s this post</p>
			<% end %>
		<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Dis-Like Modal -->
<div class="modal fade" id="dislikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">People who disliked this </h4>
      </div>
      <div class="modal-body">
      	...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<hr style="background-color: #000;height: 1px;"> 
 <div class="commentscontainer inline">
<h4> <b>Comments </b> </h4>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#date" data-toggle="tab">Date</a></li>
  <li><a href="#popular" data-toggle="tab">Popular</a></li>
 </ul>


<div class="tab-content">
  <div class="tab-pane fade in active" id="date">
		
		<% if @gift_request_comments %> 
			<% @gift_request_comments.each do |comment| %>

			<p><b> <%= comment.username %> says: </b> <%= comment.description %> <br>
			<%= comment.like_count %> people like this | <%= comment.dislike_count %> people dislike this <br>
			<% if comment.final_answer %>
				<b> FINAL ANSWER </b>
			<% end %>
			<% if comment.likes %>
				<% comment.likes.each do |like| %>
					 <%= like.username %> <%= like.status %> 
				<% end %>
			<% end %>
		</p>

	<form action="/likes/create" method="post" class="inline">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	    <input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
	    <input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
	    <input type="hidden" name="like[status]" value="like" />
	    <button type="submit" class="btn inline"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
	</form>
	<form action="/likes/create" method="post"  class="inline">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	    <input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
	    <input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
	    <input type="hidden" name="like[status]" value="dislike" />
	    <button type="submit" class="btn inline"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
	    <!-- <button type="submit" class="btn btn-danger btn-xs">Dislike</button> -->
	</form>
	
	<form action="/comments/final" method="post" class="inline">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		    <input type="hidden" name="comment_id" value="<%= comment.id %>" />
		   <button type="submit" class="btn inline"><%= image_tag 'check.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
		</form>
	<button type="submit" class="btn btn-success btn-xs" data-toggle="modal" data-target="#commentlikemodal" > <%= comment.like_count %> People Liked</button>
	 <button type="submit" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#commentdislikemodal" > <%= comment.dislike_count %> People disliked</button>
 
	<% end %>
<% end %>
  </div>

<!-- Comment Like Modal -->
<div class="modal fade" id="commentlikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">People who liked this </h4>
      </div>
      <div class="modal-body" id = "likecommentbody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Comment Dis-Like Modal -->
<div class="modal fade" id="commentdislikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">People who disliked this </h4>
      </div>
      <div class="modal-body">
      	...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <div class="tab-pane fade" id="popular">

		 <% gift_request_cc = @gift_request_comments.sort_by(&:like_count) %>
		 <% @gift_request_comments = gift_request_cc.reverse %>
		
		 <% if @gift_request_comments %> 
			<% @gift_request_comments.each do |comment| %>

		 <% @gift_request_comments.sort_by{|e| -e[:like_count]} %>
			<p><b> <%= comment.username %> says: </b> <%= comment.description %> <br>
			<!-- 
			<islike this <br> -->
			<% if comment.final_answer %>
				<b> FINAL ANSWER </b>
			<% end %>
			<% if comment.likes %>
				<% comment.likes.each do |like| %>
					| <%= like.username %> <%= like.status %>'s this comment |
				<% end %>

			<% end %>
		</p>

	<form action="/likes/create" method="post" class="inline">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	    <input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
	    <input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
	    <input type="hidden" name="like[status]" value="like" />
	    <button type="submit" class="btn inline"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
	</form>
	<form action="/likes/create" method="post" class="inline">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	    <input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
	    <input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
	    <input type="hidden" name="like[status]" value="dislike" />
	    <button type="submit" class="btn inline"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
	</form>

	<form action="/comments/final" method="post" class="inline">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		    <input type="hidden" name="comment_id" value="<%= comment.id %>" />
		   <button type="submit" class="btn inline"><%= image_tag 'check.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
		</form>

	<% end %>
<% end %>


  </div>

 </div>

	


	<br>
	<br>
<br>

 <form action="/comments" method="post">
    <P>
    Make a Comment:</label><br>  
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" ><BR>
    <input type="hidden" name="comment[gift_request_id]" value="<%= @gift_request.id %>"><BR>
    <input type="text" name="comment[description]" id="newcomment"><BR>

    <input type="submit" value="Submit">
    </P>
 </form>

</div>
</div>
<hr>
<h4> <b> Tags </b> </h4>
<br/><br/>
<% if @gift_request_tags %>
	<% @gift_request_tags.each do |tag| %>

		<p> <%= tag.name %> </p>

	<% end %>
<% end %>
</div> 

<%= link_to 'Edit', edit_gift_request_path(@gift_request) %> |
<%= link_to 'Back', gift_requests_path %>

