<style type="text/css">
.scroll
{
	width: 650px;
	height: 90px;
	overflow:auto;
	word-wrap:break-word;
}

.fAnswer{
	background-color:#8EFAB2;
	padding-right: 0.5%;
	padding-bottom:1.0%;
}

.btn-class
{
	background-color:#EEEEEE;
}
</style>

<%= render 'subnav' %>
<script type="text/javascript">
var node = document.getElementById("subnav").getElementsByTagName("li")[1];
node.setAttribute("class", "active padd");

$(document).ready(function(){
	$('#newcomment').val("");
});


</script>

<div style="width: 1000px; margin: 0 auto;">
	<div  align="center">
			<div class="inline">
				<a style='display:none' id="facebook_login_button" href=<%= ENV['FACEBOOK_LOGIN_URL'] %> class="popup" data-height="400" data-width="600"><%= image_tag 'fb.png', :alt => 'lgo', width:"150", height:"40"%></a>
			</div>
			<br>
			<br>
		</div>
	<div class="container">

		<div class="row" style="background-color:white; width:88%;"> 

			<div class="container-fluid" style="padding-left:8%;">
				<br>
				<div align="left">
					<div style=" width:900px"> <p class="inline" data-title='<%= @gift_request.title %>' id="gift_request_title" style="font-family:Times New Roman;word-wrap:break-word; font-size:24px;"><Strong>Title:&nbsp;</Strong> <%= @gift_request.title %></p></div>

					<% if current_user.id == @gift_request.user_id %>
					<div class="inline" style="float:right; padding-right:6%;">

							 <% answeredflag = false %>
					            <% @gift_request_comments.each do |comment| %>
					              <% if comment.final_answer == true %>
					                <% answeredflag = true %>
					              <% end %>
					            <% end %>
					            <% if answeredflag != true %>
					<%= link_to '', edit_gift_request_path(@gift_request), :class => "btn btn-warning glyphicon glyphicon-pencil inline",  :method => :get %>
					<%= link_to '', @gift_request, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger glyphicon glyphicon-trash inline" %> 

					<% end %> 

					</div>
					<% end %>

					<div align="left">
					<p style="font-family:Times New Roman; font-size:20px; padding-top:10px;"><Strong>By:&nbsp; </Strong><a <a href="/users/<%= @gift_request.user.id %>" style="background:none;color:#333"><%= @gift_request.username %> </a></p>
					</div>
				</div>
				
			</div>

			

			<div class="row"  style="padding-left:8%;">
				<div class="col-md-8" data-id=title>
					<div style="">
					<p class="scroll" style="font-family:Times New Roman; font-size:18px"><strong> Description: </strong><%= @gift_request.description %> </p>
					</div>
				</div>
				<div class="col-md-4" align="right" style="padding-right:8%;">
					<a  id="facebook_share" style="background:transparent" href="#"> <%= image_tag "share.png", :style => "width: ;height:38px;" %></a>
					<br>
					<br>
					<div class="inline" style="padding-right:8%;">
						<form action="/likes/create" method="post" class="inline">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
							<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
							<input type="hidden" name="like[gift_request_id]" value="<%= @gift_request.id %>" />
							<input type="hidden" name="like[status]" value="like" />
							<button type="submit" class="btn btn-class"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"20",   height:"20" %></button>
						</form>

						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;

						<form action="/likes/create" method="post" class="inline">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
							<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
							<input type="hidden" name="like[gift_request_id]" value="<%= @gift_request.id %>" />
							<input type="hidden" name="like[status]" value="dislike" />
							<button type="submit" class="btn btn-class"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"20",   height:"20" %></button>
						</form>

					</div>
					
				</div>
			</div>

			<div class="container-fluid" style="padding-left:8%;">

				<div class="inline" align="left">
					<p class="inline" style="font-family:Times New Roman; font-size:18px"><Strong>Tags:&nbsp;</Strong>
						<% if @gift_request_tags %>
						<% @gift_request_tags.each do |tag| %>
						<h4 class="inline"><%= link_to tag.name, {:controller => "tags",:action => "show", :id => tag.id}, :class => "label label-info",:method => :get %></h4>
						<% end %>
						<% end %>
					</p>
				</div>
			</div>

			<br>

			<div class="row" align="center">
				<div class="inline ">
					<p class="inline" style="font-family:Times New Roman; font-size:18px"> <Strong>Views:&nbsp; </Strong><%= @gift_request.views %> </p>
					
				

					<% if @gift_request.like_count > 0 %>	
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
						<button type="submit" class="btn btn-success " data-toggle="modal" data-target="#likemodal" > <%= @gift_request.like_count %> Liked</button>
						<% end %>

						<% if @gift_request.dislike_count > 0 %>
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
						<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#dislikemodal" > <%= @gift_request.dislike_count %> Disliked</button>
						<% end %>
				</div>

			</div>
			<br>
		</div>

	</div>  


	<div class="commentscontainer inline" style="background-color:white">
		<br>
		<h4 align="center"> <b>Comments </b> </h4>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#date" data-toggle="tab">Date</a></li>
			<li><a href="#popular" data-toggle="tab">Popular</a></li>
		</ul>


		<div class="tab-content" style="background-color:white">

			<div class="tab-pane fade in active" id="date"  style="padding:20px;">


				<% if @gift_request_comments %> 
				<% @gift_request_comments.each do |comment| %>

				<% if comment.final_answer %>
				<div id="fans" class="fAnswer" >

					<% else %>
					<div>
						<% end %>
						
						<div class="container-fluid">
							<div class="inline" align="left">
								<br>
								<a style="background:transparent;color:black;text-decoration:none" href="/users/<%= comment.user_id %>"><b><%= comment.username %></b></a>&nbsp;&nbsp;&nbsp;[Rank:&nbsp;<%= comment.user.rank %>&nbsp;&nbsp;&middot;&nbsp;&nbsp; Points:&nbsp;<%= comment.user.points %>] 
							</div>
							<div class="inline" style="float:right">
								<b><%= comment.created_at.strftime("%b %d, %Y %H:%M") %></b>
							</div>
						
						
						<div id="description">
							<br>
						<p class="scroll" style="width:80;height:auto"%><%= comment.description %></p>	
						</div>
						<br>
						<div class="inline" style="float:right">
							<% if comment.final_answer %>
							<b> FINAL ANSWER </b>
							<% end %>
						</div>	
						</div>

						<br>				
						<div align="center">
							
						<form action="/likes/create" method="post" class="inline">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
							<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
							<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
							<input type="hidden" name="like[status]" value="like" />
							<button type="submit" class="btn btn-class inline"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
						</form>
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
						<form action="/likes/create" method="post"  class="inline">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
							<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
							<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
							<input type="hidden" name="like[status]" value="dislike" />
							<button type="submit" class="btn btn-class inline"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
							<!-- <button type="submit" class="btn btn-danger btn-xs">Dislike</button> -->
						</form>

						<% if current_user.username == @gift_request.username %>
						<div class="finalans inline">
							&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
							<form action="/comments/final" method="post" class="inline">
								<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
								<input type="hidden" name="comment_id" value="<%= comment.id %>" />
								<button type="submit" class="btn btn-class inline"><%= image_tag 'check.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
							</form>
						</div>
						<% end %>

						<% if comment.like_count > 0 %>
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;	
						<button type="submit" class="btn btn-success btn-md" id="<%= comment.id %>" onclick="onclickbttn(this,'like')" data-toggle="modal" data-target="#commentlikemodal" > <%= comment.like_count %> Liked</button>
						<% end %>

						<% if comment.dislike_count > 0 %>
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;	
						<button type="submit" class="btn btn-danger btn-md"  id="<%= comment.id %>" onclick="onclickbttn(this,'dislike')" data-toggle="modal" data-target="#commentdislikemodal" > <%= comment.dislike_count %> Disliked</button>
						<% end %>
					</div>
				</div>

					<div align="center">
      				  <hr  style="width:60%; padding-bottom:0; margin-bottom:0; border: 1px solid #D8D8D8">
      			  </div>
					<% end %>
					<% end %>

				</div>


				<!-- Popular tag code -->
				<div class="tab-pane fade" id="popular" style="padding:20px;">

					<% gift_request_cc = @gift_request_comments.sort_by(&:like_count) %>
					<% @gift_request_comments = gift_request_cc.reverse %>

					<% if @gift_request_comments %> 
					<% @gift_request_comments.each do |comment| %>

					<% if comment.final_answer %>


					<div class="fAnswer">
						<% else %>
						<div>
							<% end %>
								<br>
							<div class="container-fluid">
							<div class="inline" align="left">
							
								<a style="background:transparent;color:black;text-decoration:none" href="/users/<%= comment.user_id %>"><b><%= comment.username %></b></a>&nbsp;&nbsp;&nbsp;[Rank:&nbsp;<%= comment.user.rank %>&nbsp;&nbsp;&middot;&nbsp;&nbsp; Points:&nbsp;<%= comment.user.points %>] 
							</div>
							<div class="inline" style="float:right">
								<b><%= comment.created_at.strftime("%b %d, %Y %H:%M") %></b>
							</div>
						
						
						<div id="description">
							<br>
						<p class="scroll" style="width:80;height:auto" ><%= comment.description %></p>	
						</div>
						<br>
						<div class="inline" style="float:right">
							<% if comment.final_answer %>
							<b> FINAL ANSWER </b>
							<% end %>
						</div>	
						</div>


						<div align="center">
							
						<form action="/likes/create" method="post" class="inline">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
							<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
							<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
							<input type="hidden" name="like[status]" value="like" />
							<button type="submit" class="btn btn-class inline"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
						</form>
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
						<form action="/likes/create" method="post"  class="inline">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
							<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
							<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
							<input type="hidden" name="like[status]" value="dislike" />
							<button type="submit" class="btn btn-class inline"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
							<!-- <button type="submit" class="btn btn-danger btn-xs">Dislike</button> -->
						</form>

						<% if current_user.username == @gift_request.username %>
						<div class="finalans inline">
							&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
							<form action="/comments/final" method="post" class="inline">
								<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
								<input type="hidden" name="comment_id" value="<%= comment.id %>" />
								<button type="submit" class="btn btn-class inline"><%= image_tag 'check.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
							</form>
						</div>
						<% end %>

						<% if comment.like_count > 0 %>
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;	
						<button type="submit" class="btn btn-success btn-md" id="<%= comment.id %>" onclick="onclickbttn(this,'like')" data-toggle="modal" data-target="#commentlikemodal" > <%= comment.like_count %> Liked</button>
						<% end %>

						<% if comment.dislike_count > 0 %>
						&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;	
						<button type="submit" class="btn btn-danger btn-md"  id="<%= comment.id %>" onclick="onclickbttn(this,'dislike')" data-toggle="modal" data-target="#commentdislikemodal" > <%= comment.dislike_count %> Disliked</button>
						<% end %>
					</div>
				</div>

					<div align="center">
      				  <hr  style="width:60%; padding-bottom:0; margin-bottom:0; border: 1px solid #D8D8D8">
      			  	</div>
      			  	<br>
						<% end %>
						<% end %>

					</div>

					<div align="center">
					<form action="/comments" method="post">
					<label>Make a Comment</label><br>  
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					<input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" >
					<input type="hidden" name="comment[gift_request_id]" value="<%= @gift_request.id %>">
					<textarea name="comment[description]" id="newcomment" rows="4" cols="140" style="max-width:80%;">
					</textarea>
					<br>
					<br>
					<input class="btn btn-default" type="submit" value="Submit">
					</form>
					<br>
				</div>

				</div>
				
			</div>
		</div>
		<br>
		<br>
		<br>

		<script>
		$(document).ready(function(){
			var foundin = document.getElementById("fans");
			if(foundin)
			{
				var ele= document.getElementsByClassName("finalans");
				for(var i=0;i<ele.length;i++)
				{
					ele[i].innerHTML="";
				}
			}
		});
		</script>




		<!-- Modals go in the end -->
		<!-- Comment Like Modal -->
		<div class="modal fade" id="commentlikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who liked this </h4>
					</div>
					<div class="modal-body" style="overflow:auto" id="likecommentbody">
						<table class="table" id="liketable">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Comment Dis-Like Modal -->
		<div class="modal fade" id="commentdislikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who disliked this </h4>
					</div>
					<div class="modal-body">
						<table class="table" id="disliketable">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Like Modal -->
		<div class="modal fade" id="likemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who liked this </h4>
					</div>
					<div class="modal-body" style="overflow:auto" >
						<table class="table ">
							<% if @gift_request_likes %>
							<% @gift_request_likes.each do |like| %>
							<% if like.status=="like" %>
							<tr >
								<td>
									<div class="inline">
										<div style="background-color:#008080;width:45%">
											<%= image_tag 'user.png', :alt => 'lgo', width:"80",   height:"80", :class => "inline" %>

											<%= button_to [like.username], {:controller => "users",:action => "show", :id => like.user_id}, :class => "inline btn", :method => :get %>
										</div>
									</div>
								</td>
							</tr>
							<% end %>

							<% end %>
							<% end %>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!--Dis-Like Modal -->
		<div class="modal fade" id="dislikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who disliked this </h4>
					</div>
					<div class="modal-body" style="overflow:auto" >
						<table class="table ">

							<% if @gift_request_likes %>
							<% @gift_request_likes.each do |like| %>
							<% if like.status=="dislike" %>

							<tr >
								<td>
									<div class="inline">
										<div style="background-color:#008080;width:45%">
											<%= image_tag 'user.png', :alt => 'lgo', width:"80",   height:"80", :class => "inline" %>

											<%= button_to [like.username], {:controller => "users",:action => "show", :id => like.user_id}, :class => "inline btn ", :method => :get %>
										</div>
									</div>
								</td>
							</tr>
							<% end %>

							<% end %>
							<% end %>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
