<%= form_for(resource, :as => resource_name, :url => "password/users/update_password", :html => { :method => :put }) do |f| %>
<%# devise_error_messages! %>
<%= f.hidden_field :reset_password_token %>
<br>
<div class="row">
	<div class="col-sm-3 col-md-3 "> 
		<%= f.label :current_password, "Current Password:" %>	
	</div>
	<div class="col-sm-3 col-md-3 ">
		<%= f.password_field :current_password, :placeholder =>"Current Password" %>
	</div>	
</div>
<br>
<div class="row">
	<div class="col-sm-3 col-md-3 ">
		<%= f.label :password, "New Password:" %>
	</div>
	<div class="col-sm-3 col-md-3 "><%= f.password_field :password, :placeholder=>"New Password" %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-3 col-md-3 ">
		<%= f.label :password_confirmation, "Confirm New Password:" %>
	</div>
	<div class="col-sm-3 col-md-3 ">
		<%= f.password_field :password_confirmation, :placeholder=>"Confirm New Password" %>
	</div>
</div>
<br>
<br>
<%= f.submit "Change my password" %>
<% end %>

