<% content_for :title, "Users" %>
<style type="text/css">


.tag-cell
{
  width: 180px;
  padding-bottom: 12px;
  padding-right: 6px;
  padding-top: 6px;
  vertical-align: top;
}

.excerpt
{
  padding-left: 40px;
  padding-top: 15px;
  font-size: 12px;
  height: 70px;
  line-height: 13px;
  overflow: hidden;
  margin-bottom: 4px;
}

.userimage{
  float: left;
  width: 50px;
  height: 50px;
}

</style>

<%= render :partial => 'gift_requests/subnav' %>

<script type="text/javascript">
var node = document.getElementById("subnav").getElementsByTagName("li")[3];
node.setAttribute("class", "active padd");
</script>

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#followers" data-toggle="tab">Followers</a></li>
    <li><a href="#following" data-toggle="tab">Following</a></li>
    <li><a href="#all" data-toggle="tab">All</a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content" style="background-color:white;">
    <div class="tab-pane fade in active" id="followers">
    <div class="table-responsive">
      <div class="row">
      <table class="table">
        <tr>
            <% i = 0 %>

           <% @users = current_user.followed_users %>

            <% @users.each do |user| %>
              <% if i == 4 %>
              <% i = 0 %>
              </tr>
              <tr> 
              <% end %> 
                <td class="tag-cell">
                <div class="excerpt">
                    <div class="userimage">
                      <img src="/assets/gift.png" alt="Sample Image" height="48x" width="48px"> 
                      </div>
                      <b><%= link_to user.username, user %>
                      <br>
                      <%= user.points %>
                      <br>
                      <%= user.rank %></b>
                </div>
              </td>
              <% i = i+1 %>
            <% end %>
        </tr>
      </table>
      </div>
    </div>

    </div>

    <div class="tab-pane fade" id="following">

    <div class="table-responsive">
      <div class="row">
      <table class="table">
        <tr>
            <% i = 0 %>

           <% @users = current_user.followers %>

            <% @users.each do |user| %>
              <% if i == 4 %>
              <% i = 0 %>
              </tr>
              <tr> 
              <% end %> 
                <td class="tag-cell">
                <div class="excerpt">
                    <div class="userimage">
                      <img src="/assets/gift.png" alt="Sample Image" height="48x" width="48px"> 
                      </div>
                      <b><%= link_to user.username, user %>
                      <br>
                      <%= user.points %>
                      <br>
                      <%= user.rank %></b>
                </div>
              </td>
              <% i = i+1 %>
            <% end %>
        </tr>
      </table>
      </div>
    </div>


    </div>
    <div class="tab-pane fade" id="all">
    <div class="table-responsive">
      <div class="row">
      <table class="table">
        <tr>
            <% i = 0 %>

           <% @users = User.all %>

            <% @users.each do |user| %>
              <% if i == 4 %>
              <% i = 0 %>
              </tr>
              <tr> 
              <% end %> 
                <td class="tag-cell">
                <div class="excerpt">
                    <div class="userimage">
                      <img src="/assets/gift.png" alt="Sample Image" height="48x" width="48px"> 
                      </div>
                      <b><%= link_to user.username, user %></b>
                      <br>
                      <b><%= user.points %>
                      <br>
                      <%= user.rank %></b>
                </div>
              </td>
              <% i = i+1 %>
            <% end %>
        </tr>
      </table>
      </div>
    </div>

    </div>
  </div>
</div>
<br>
<br>
<br>
<br>