  <style type="text/css">
body{
  background-color: #008080;
  color: #ffffff;
}
.inline
{
  display: inline;
  color: black;
}

</style>
  <div class="container">
<h2>Forgot your password?</h2>

      <div>
      <!-- <form role="form"> -->

<%= form_for(resource, :html => {class: "form-signin"}, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

 <div style="display:inline" >
      <div>
       <h4> <%= f.label :Email, :for => "email", class: "label label-default"  %></h4>
        <%= f.email_field :email, autofocus: true, :required => "true",:placeholder => "Email Address", class: "inline" %>
        </div><br />
     
      <%= f.submit "Send me reset password instructions", class: "btn  btn-primary border" %><br />
           

      </div>

	<% end %>
 		<br /><br /><br />
      <!-- </form> -->


     </div>
  </div>

