<style>
.inline
{
	display:inline;
}
.scroll
{
	overflow:auto;
}
.btn-danger{
	color:#000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	font-style: italic;
	font-weight: bold;
}

</style>

<% content_for :title, "Feed" %>

<%= render :partial => 'gift_requests/subnav' %>
<script type="text/javascript">
var node = document.getElementById("subnav").getElementsByTagName("li")[0];
node.setAttribute("class", "active padd");
</script>


<div class="container cc" align="center">
    <%= paginate @feed %>

	<div class="container-fluid">
		<table class="table" align="center" style="background-color:#ffffff; width:90%;">
			<!-- xxxxxxxxxxxxx -->
			<% @feed.each do |feed| %>
			<tr>
				<td>
					<div style="background:#E0E0E0; padding-left:3%; padding-right:3%; padding-top:1.5%;">

						<div class="row">

							<div class="col-md-8">
								<p><font color="blue">
									<%= feed["message"] %></font>
								</p>
							</div>
							<% @flag = false %>
							 <% feed["gift_request"].comments.each do |comment| %>
					              <% if comment.final_answer == true %>
					                <% @flag = true %>
					              <% end %>
					            <% end %>
					            <% if @flag == true %>
							<div class="col-md-4" align="center">
								<h4 class="inline" >
                					<span class="label label-success" style="">ANSWERED
                				</span>
              					</h4>
							</div>
							<% end %>
						</div>

						<div class="row">

							<div class="inline col-md-8 usercontent">

								<a href="<%= feed["url"] %>" style="background:transparent;text-decoration:none"><font color="purple" size="3px"> 
									<%= feed["gift_request"].title %></font>
								</a>
							</div>

							<div class="col-md-4" align="right" style="padding-right:7%">

								<span style=""> Asked on: <%= feed["gift_request"].created_at.strftime("%b %d, %Y %H:%M") %>
								</span>

							</div>
						</div>


						<div class="row">

							<div class="inline col-md-8 usercontent">
								
								<div class="createdby">
									<strong>By:&nbsp;</strong>
									<a href="/users/<%= feed["actor_id"] %>" style="background:transparent;text-decoration:none;color:#333">
										<%= feed["gift_request"].username %>
									</a>
								</div>
								
								<div class="scroll" style="height:50px; width:650px; padding-top:5px; word-wrap:break-word;">
									<!-- not done yet -->
									<b>Description:&nbsp;</b>
									<%= feed["gift_request"].description[0..120] %> 
									<% if feed["gift_request"].description.size > 120 %> 
									<a href="<%= feed["url"] %>"  style="background:transparent;text-decoration:none;color: black">
										(see more...) </a> 
									<% end %>
								</div>

							</div>

							<div class="col-md-4" align="center">
								<br>
								<a  id="facebook_share" style="background:transparent" href="#"> <%= image_tag "share.png", :style => "height:38px;"%>
								</a>
								
								<br>
								<br>
								
								<div class="inline" align="center">
									<form action="/likes/feed/create" method="post" class="inline" id="likeform">
										<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
										<input type="hidden" name="like[user_id]" id="like_userid" value="<%= current_user.id %>" />
										<input type="hidden" name="like[gift_request_id]" id="like_giftrequest_id" value="<%= feed["gift_request"].id %>" />
										<input type="hidden" name="like[status]"  id="like_status" value="like" />
										<button type="submit" class="btn btn-sm" onclick="return postlikedislike('likeform')"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"20",   height:"20" %></button>
									</form>

									&nbsp;&nbsp;&middot;&nbsp;&nbsp;

									<form action="/likes/feed/create" method="post" class="inline" id="dislikeform">
										<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
										<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
										<input type="hidden" name="like[gift_request_id]" value="<%= feed["gift_request"].id %>" />
										<input type="hidden" name="like[status]" value="dislike" />
										<button type="submit" class="btn btn-sm" onclick="return postlikedislike('dislikeform')"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"20",   height:"20" %></button>
									</form>

								</div>

							</div>
						</div>

						<div class="row">

							<div align="left">
								<div align="center">
									
									Comments:&nbsp;<strong><%= feed["gift_request"].comments.count %>


									&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
									
									Views:&nbsp;<strong><%= feed["gift_request"].views %>

									<% if feed["gift_request"].like_count > 0 %>
									
									&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>

									<button type="submit" class="btn btn-success " data-toggle="modal" data-target="#likemodal<%= feed["gift_request"].id %>" > <%= feed["gift_request"].like_count %> Liked </button>
									<% end %>
									
									<% if feed["gift_request"].dislike_count > 0 %>
									<strong>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>

									<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#dislikemodal<%= feed["gift_request"].id %>" ><%= feed["gift_request"].dislike_count %> Disliked</button>

									<% end %>
							<!-- DO NOT MOVE THIS. IT HAS TO BE IN THIS LOOP -->
										<!-- Like Modal -->
		<div class="modal fade" id="likemodal<%= feed["gift_request"].id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who liked this </h4>
					</div>
					<div class="modal-body" style="overflow:auto" >
						<table class="table ">
							<% if feed["gift_request"].likes.empty? %>
							<% %>
							<% else %>
							<% feed["gift_request"].likes.each do |like| %>
							<% if like.status=="like" %>
							<tr >
								<td>
									<div class="inline">
										<div style="background-color:#008080;width:45%">
											<%= image_tag 'user.png', :alt => 'lgo', width:"80",   height:"80", :class => "inline" %>

											<%= button_to [like.username], {:controller => "users",:action => "show", :id => like.user_id}, :class => "inline btn", :method => :get %>
										</div>
									</div>
								</td>
							</tr>
							<% end %>

							<% end %>
							<% end %>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!--Dis-Like Modal -->
		<div class="modal fade" id="dislikemodal<%= feed["gift_request"].id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who disliked this </h4>
					</div>
					<div class="modal-body" style="overflow:auto" >
						<table class="table ">
							<% if feed["gift_request"].likes.empty? %>
							<% %>
							<% else %>
							<% feed["gift_request"].likes.each do |like| %>
							<% if like.status=="dislike" %>

							<tr >
								<td>
									<div class="inline">
										<div style="background-color:#008080;width:45%">
											<%= image_tag 'user.png', :alt => 'lgo', width:"80",   height:"80", :class => "inline" %>

											<%= button_to [like.username], {:controller => "users",:action => "show", :id => like.user_id}, :class => "inline btn ", :method => :get %>
										</div>
									</div>
								</td>
							</tr>
							<% end %>

							<% end %>
							<% end %>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


									
								
								</div>
							</div>
						</div>

						<br>

						<div class="row">
								<!-- not done yet -->
							<div class="commentarea" style="background:#F8F8F8">
								<% if feed['gift_request'].comments.empty? %>
								<% %>
								<% else %>
								<% feed['gift_request'].comments.each do |comment|%>
								<div class="comments" style="padding:8px;padding-left:16px;padding-right:16px;">
									
									<a href="/users/<%= comment.user_id %>" style="background:transparent;text-decoration:none"><font color="purple"><b><%= comment.username %></b>:</font></a> 
									<%= comment.description[0..120] %>
									<% if comment.description.size > 120 %> 
									<a href="<%= feed["url"] %>"  style="background:transparent;text-decoration:none;color: black">
										(see more...) </a>
									<% end %>

									<div class="timestamp">
										<%= comment.created_at.strftime("%b %d, %Y %H:%M") %> 

										<form action="/likes/feed/create" method="post" class="inline">
											<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
											<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
											<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
											<input type="hidden" name="like[status]" value="like" />
											<button type="submit" class="inline"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
										</form>

										<form action="/likes/feed/create" method="post" class="inline">
											<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
											<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
											<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
											<input type="hidden" name="like[status]" value="dislike" />
											<button type="submit" class="inline"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
										</form>
										<% if comment.like_count > 0 %>
										
										<strong>&nbsp;&middot;&nbsp;

										<button type="submit" class="inline" style="background-color:#5cb85c;color:white;border-color:#4cae4c;padding-left:5px;padding-right:5px" id="<%= comment.id %>" onclick="onclickbttnfeed(this,'like')" data-toggle="modal" data-target="#commentlikemodal" > <%= comment.like_count %> Liked</button>
										</strong>
										<% end %>
										
										<% if comment.dislike_count > 0 %>
										<strong>&nbsp;&middot;&nbsp;
										<button type="submit"   class="inline" style="background-color:#d9534f;color:white;border-color:#d43f3a;padding-left:5px;padding-right:5px"  id="<%= comment.id %>" onclick="onclickbttnfeed(this,'dislike')" data-toggle="modal" data-target="#commentdislikemodal" > <%= comment.dislike_count %> Disliked</button>

										</strong>
										<% end %>

									</div>

								</div>

								<% end %>
							<% end %>

							</div>

							<br>

							<div align="center">
								<div style="width:80%;">

									<form action="/comments/feed" method="post">
									<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
									<input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" >
									<input type="hidden" name="comment[gift_request_id]" value="<%= feed["gift_request"].id %>">
									<textarea name="comment[description]" class="form-control inline newcomment" id="newcomment" rows="4" cols="140" style="max-width:80%;" placeholder="Write a comment...">
									</textarea>
									<br>
									<br>
									<input class="btn btn-default" type="submit" value="Submit">
									</form>						

								</div>
							</div>
							
							<br>
						</div>

					</div>


			</td>

		</tr>

		<% end %>

		<!-- xxxxxxxxxxxxx -->
	</table>

</div>

</div> <!-- end of main cc div -->  
<br>
<br>
<br>
<br>
<script>
$(document).ready(function(){
	$(".newcomment").each(function() {
    $(this).val("")
		});
});
</script>
		<!-- Modals go in the end -->
		<!-- Comment Like Modal -->
		<div class="modal fade" id="commentlikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who liked this </h4>
					</div>
					<div class="modal-body" style="overflow:auto" id="likecommentbody">
						<table class="table" id="likecommenttable">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Comment Dis-Like Modal -->
		<div class="modal fade" id="commentdislikemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">People who disliked this </h4>
					</div>
					<div class="modal-body">
						<table class="table" id="dislikecommenttable">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

