<style>
.inline
{
  display:inline;
}
.scroll
{
  height:80px;
  overflow:auto;
  word-wrap:break-word;
}
.btn-danger{
  color:#000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
   font-style: italic;
   font-weight: bold;
}

</style>

<% content_for :title, "Feed" %>

<%= render :partial => 'gift_requests/subnav' %>
<script type="text/javascript">
var node = document.getElementById("subnav").getElementsByTagName("li")[0];
node.setAttribute("class", "active padd");
</script>


<div class="container cc" align="center">

  <div class="container-fluid">
    <table class="table" align="center" style="background-color:#ffffff; width:90%;">
     	<form action="/likes/create" method="post" class="inline" id="likeform">
				<input name="authenticity_token" id="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				<input type="hidden" name="like[user_id]"  id="like_userid" value="<%= current_user.id %>" />
				<input type="hidden" name="like[gift_request_id]" id="like_giftrequest_id" value="15" />
				<input type="hidden" name="like[status]" id="like_status" value="like" />
				<button type="submit" class="btn btn-class"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"20",   height:"20" %></button>
						</form>
			
<script>
postlikedislike();
</script>			

	<% @feed.each do |feed| %>
				<tr>
					<td>
						<div class="row" align="center" style="padding-top:10px;">
							<div class="inline col-xs-12 col-md-8" align="left" style="padding-left:40px;"><p><font color="blue"><h5><%= feed["message"] %> </h5></font></p>
							</div>
						</div>
						<div class="row">
							<div class="inline col-xs-12 col-md-12" style="padding-left:40px;">
								<div class="usercontent">
									<a href="<%= feed["url"] %>"><font color="purple" size="3px"> <%= GiftRequest.find(feed["gid"]).title %></font></a>
									<div class="createdby">
										<strong>Created By:&nbsp;</strong>
										<a href="/users/<%= GiftRequest.find(feed["gid"]).id %>">
											<%= GiftRequest.find(feed["gid"]).username %>
										</a>
										<br>
										<strong>Rank:&nbsp;</strong>
										<%= GiftRequest.find(feed["gid"]).user.rank %>  
										<%= GiftRequest.find(feed["gid"]).user.points %>
										<br>
										<br>
										<strong> Last Answer By: &nbsp;</strong></a>
									</div>
									<br>
									<p><b>Description: </b><%= GiftRequest.find(feed["gid"]). description[0..150]%> <% if GiftRequest.find(feed["gid"]).description.size > 150 %> ... <% end %> </p>
									<br>
									<div class="row" align="center" >
										<div class="inline col-xs-12 col-md-8" align="left" style="margin-top:-5px;"> 
											<% if GiftRequest.find(feed["gid"]).tags %>
											<% counteri = 0 %>
											<% GiftRequest.find(feed["gid"]).tags.each do |tags| %>
											<% if counteri ==4 %>
											<br><br>
											<% end %>
											<% counteri = counteri+1 %>
											<h4 class="inline">
												<a class="label label-info" href="/tags/<%= tags.id %>"><%= tags.name %></a>
											</h4>
											<% end %>
											<% end %>
										</div>
									</div>
									<div align="left">
										<div align="center">
											<span> Asked on: <%= GiftRequest.find(feed["gid"]).created_at.strftime("%b %d, %Y %H:%M") %>
											</span><strong>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Comments:&nbsp;<strong><%= GiftRequest.find(feed["gid"]).comments.count %>&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Views:&nbsp;<strong><%= GiftRequest.find(feed["gid"]).views %>&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Likes:&nbsp;<strong><%= GiftRequest.find(feed["gid"]).like_count %></strong> 
										</div>
									</div>

									<!-- Loop this area for comments -->
									
									<% GiftRequest.find(feed["gid"]).comments.each do |comment| %>
									<div class="commentarea">
										<div class="comments">
											<a href="/users/<%= comment.user_id %>"><font color="purple"><b><%= comment.username %></b>:</font></a> <%= comment.description %>

											<div class="timestamp">
												<%= comment.created_at.strftime("%b %d, %Y %H:%M") %> 



												<form action="/likes/create" method="post" class="inline">
													<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
													<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
													<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
													<input type="hidden" name="like[status]" value="like" />
													<button type="submit" class="inline"><%= image_tag 'like.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
												</form>










												<!-- img alt="lgo" class="inline " height="15" src="/assets/like.png" width="15"> -->
												<!-- <img alt="lgo" class="inline " height="15" src="/assets/dislike.png" width="15">   -->
												<form action="/likes/create" method="post" class="inline">
													<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
													<input type="hidden" name="like[user_id]" value="<%= current_user.id %>" />
													<input type="hidden" name="like[comment_id]" value="<%= comment.id %>" />
													<input type="hidden" name="like[status]" value="dislike" />
													<button type="submit" class="inline"><%= image_tag 'dislike.png', :class=>"inline " , :alt => 'lgo', width:"15",   height:"15" %></button>
												</form>
											</div>
										</div>
									</div>
									<!-- end loop -->
									<% end %>
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write a comment...">
								</div>
							</div>

						</div>
						<div align="center">
							<hr  style="width:60%; padding-bottom:0; margin-bottom:0; border: 1px solid #D8D8D8">
						</div>

					</td>

				</tr>
				<% end %>


     </table>
  </div>


</div> <!-- end of main cc div -->  
<br>
<br>
<br>
<br>