<% content_for :head do %>
	<meta property="fb:app_id" content="563804037067616" />
	<meta property="og:title" content="<%= @tag.name %>" />
	<meta property="og:image" content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
	<meta property="og:url" content="http://easy-gift.herokuapp.com<%= @request %>" />
	<meta property="og:type" content="easy-gift:gift" />
<% end %>

<h3> Gift Request for <%= @tag.name %> </h3>

<% @tag_gift_request.each do |gift_request| %>

	<p><%= link_to gift_request.title, gift_request %> </p>

<% end %>


<%= link_to 'Back', tags_path %>
