<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  .change {
    color: #ffffff ;
  }
  .inline{
   display: inline;
  }
.new_notification{
  background-color:#98AFC7;
}

.footer {
  height: 100px; 
  width:100%;
  left: 0;
  bottom: 0; 
}

span.glyphicon-globe {
    font-size: 1.2em;
}

.dropdown-menu {
  width: 100%; 
}


body{
  background-color: #008080;
  color: #ffffff;
}

@media {
  html {
    overflow: -moz-scrollbars-vertical; 
    overflow-x: scroll; 
    overflow-y: scroll;
  }
}
</style>

<style>
    #note {
        position: absolute;
        color: white;
        opacity: 0.95;
        padding-top: 10px;
        z-index: 6001;
        top: 0;
        left: 0;
        right: 0;
        background: #FF6347;
        text-align: center;
        line-height: 3;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 10px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
    }
    .cssanimations.csstransforms #note {
        -webkit-transform: translateY(-50px);
        -webkit-animation: slideDown 4s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 4s 1.0s 1 ease forwards;
    }

    @-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-50px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-50px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }
  </style>

  <title><%= yield(:title) %></title>
  <!-- Additional header tags here -->
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"  %>
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70856403/modernizr.custom.80028.js" type="text/javascript"></script>
<link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/70856403/style.css'>

</head>
<body>

    <div id="facebook_login_url" data-url="<%= ENV['FACEBOOK_LOGIN_URL'] %>"></div>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:#000000;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float:left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-top:3px; padding-bottom:3px">
          <a class="inline" href="/profile" style="background-color:transparent;"><%= image_tag 'EasyGifts.png', :alt => 'lgo', width:"170", height:"80", class: "inline" %>
          </a>
          </div>
        </div>
        <div id="user_navigation_bar" <% if current_user %> data-user-id=<%= current_user.id %> <% end %> class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="search" style="padding-left:140px; padding-top:20px" action="/gift_requests/searchresult" method = "post">
                  <div class="form-group" style="">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                    <input type="text" id="giftrequestsearch" name="keyword" style="height: 28px; font-size: 12px;line-height: 12px; width: 300px" class="form-control" placeholder="Search Gift Request">
                  </div>
                  <input type="submit" class="btn btn-default" style="height: 28px; font-size: 12px;line-height: 12px; width: 90px"value="Submit">
                </form>
          <ul class="nav navbar-nav navbar-right" style="padding-top:10px;">
        <% if current_user %>
          <li id="user_notification_dropdown"> <a href="#" style= "background-color:transparent; color:white;" class="dropdown-toggle"  id="clickable" data-toggle="dropdown">
              <% @count = current_user.user_notifications.where(read: false).count %>
            <h4><span class="glyphicon glyphicon-globe"><span id="navigation_count" data-count=<%= @count %> class="badge" style="background-color:red;"><% if @count > 0 %><%= @count %> <% end %></span></span> </h4>
          </a>
          <ul id="user_notification_ul" class="dropdown-menu" style=" margin-top:1px; width: 400px;overflow: auto; height: 500px" role="menu" id="notify" align="center" >
                                  <% @notifications = current_user.user_notifications.order("notification_id desc") %>
                    <% @notifications.each do |notification| %>
                    <% if !notification.read %>              
                      <li data-id=<%= notification.id %> class="new_notification" ><%= link_to notification.message, notification.notification_link_to_url %></li><hr>
                    <% else %>  
                      <li data-id=<%= notification.id %> ><%= link_to notification.message, notification.notification_link_to_url %></li><hr>
                    <% end %>
              <% end %>
          </ul>
          </li>
        <% end %>
        <li  style="color:#ffffff;padding-left:5px; padding-top:10px"><a href="/gift_requests" style= "background-color:transparent; color:white;">Home</a></li>
        <li class="dropdown" style="padding-top:10px;padding-left:5px;">
          <a href="#" class="dropdown-toggle" style= "background-color:transparent; color:white;" data-toggle="dropdown">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="margin-top:15px;">
            <li ><a href="/account_settings" >Change Password</a></li>
            <!-- <li class="divider"></li> -->
          </ul>
        </li>
        <li style="padding-top:10px;padding-left:5px;"><a href="/users/sign_out" data-method="delete" style= "background-color:transparent; color:white;" rel="nofollow">Logout</a></li>
      </ul>
        </div><!--/.nav-collapse -->
      
    <div id="custom_notice_container">
      <% if flash[:notice] %>
          <div id="note" align = "center" style="">
            <div class="inline">
                <p id="flash_alert"><%= flash[:notice] if flash[:notice] %></p>
            </div>
          </div>
      <% elsif flash[:alert] %>
           <div id="note" align = "center" style="">
            <div class="inline">
                <p id="flash_alert"><%= flash[:alert] if flash[:alert] %></p>
            </div>
          </div>      
      <% end %>
    </div>
  
      </div>
    </div>

    <br>
    <br>
    <br>
   
<%= yield %>

</body>


<div class="footer" align="center">
      CopyRights @  
      <a class="inline" style="background-color:transparent;"><%= image_tag 'EasyGiftsBlack.png', :alt => 'lgo', width:"150", height:"70", class: "inline" %></a>
        -  
      <a  href="/privacy_policy">Privacy Agreement</a>  
    </div>
</html>
